/* Sidebar Main Component */
.app-icon-img {
  width: 2em;
}

.offcanvas-container {
  display: relative;
  height: 100vh;
  color: #e9e9e9;
  background-color: #242424;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}

.btn-close {
  background-color: #e9e9e9;
  width: 8px;
  height: 8px;
  border-radius: 16px;
  transition: all 0.3s ease;
}

.arrow-button {
  position: absolute;
  background-color: black;
}

/* Sidebar Sub Components: Button, Images, DropdownItems, AgentProfile */
.sidebar-button,
.sidebar-dropdown-button {
  width: 10em;
  padding: 0.25em;
  background-color: #e9e9e9;
  color: black;
  border-radius: 10px;
}

.sidebar-img {
  margin-left: 0.25em;
  width: 30px;
  height: 33px;
}

.dropdown-toggle-btn {
  height: 32px;
}

.sidebar-button:hover,
.dropdown-toggle-btn:hover {
  transform: scale(1.02);
  transition: all 0.3s ease;
}

.dropdown-items:hover {
  background-color: blue;
  color: #e9e9e9;
}

/* Sidebar AgentProfile */

.agent-profile-container {
  margin-top: 2em;
  background-color: #e9e9e9;
  color: black;
}

.agent-sprite-image {
  transform: scale(1.4);
  margin-bottom: 1em;
  background-position: 0 0;
  background-repeat: no-repeat;
}
