/* Sidebar Globals Variables*/
.offcanvas-container {
  --white: #e9e9e9;
  --blue: blue;
  --black: black;
  --grey: #242424;
  --green: #849c3a;
  --gradient-green: #738833;
  --button-width: 18rem;
}

/* Sidebar Title */

.title {
  font-size: 3rem;
}

.custom-tooltip p {
  font-size: 1.25rem;
}

.app-icon-img {
  width: 3.5em;
  height: 3.5em;
}

.sidebar-help-icon {
  width: 2.25em;
  height: 2.25em;
}

/* Sidebar Body */

.offcanvas-container {
  display: relative;
  height: 100vh;
  color: var(--white);
  background-color: var(--green);
  background-image: linear-gradient(
    to bottom right,
    var(--green),
    var(--gradient-green)
  );
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}

.offcanvas-body {
  margin-left: 1em;
}

.btn-close {
  display: none;
}

.custom-tooltip .tooltip-inner {
  background-color: blue;
}

.arrow-button {
  margin-left: 0.5em;
  position: absolute;
  background-color: var(--black);
  width: 3.5em;
  height: 3.5em;
  border: 2px solid #849c3a;
}

.arrow-button:hover {
  transition: all 0.3s ease;
  background-color: #849c3a;
}

.arrow-button .chevron-double-left,
.arrow-button .chevron-double-right {
  width: 2em;
  height: 2em;
}

/* Sidebar Sub Components: Button, Images, DropdownItems, AgentProfile */
.sidebar-button,
.sidebar-dropdown-button {
  width: var(--button-width);
  padding: 0.25em;
  background-color: var(--white);
  color: var(--black);
  font-size: 1.5em;
  border-radius: 10px;
  box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.75);
}

.sidebar-btn-img {
  margin-left: 0.25em;
  margin-right: 0.25em;
  width: 30px;
  height: 33px;
}

.sidebar-selector-img {
  margin-left: 0.25em;
  margin-right: 0.5em;
  width: 30px;
  height: 33px;
}

.dropdown-toggle-btn {
  height: 3.25em;
  width: 2.65em;
}

.sidebar-button:hover,
.dropdown-toggle-btn:hover {
  transform: scale(1.02);
  transition: all 0.3s ease;
}

.dropdown-items {
  font-size: 1.5em;
}

.dropdown-items:hover {
  background-color: var(--blue);
  color: var(--white);
}

/* Sidebar AgentProfile */
.agent-profile-container {
  width: var(--button-width);
  margin-top: 2em;
  background-color: var(--white);
  color: var(--black);
  box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.75);
}

.agent-profile-container:hover {
  transform: scale(1.02);
  transition: all 0.3s ease;
}

.agent-profile-container p {
  font-size: 1.4em;
}

.agent-sprite-image {
  transform: scale(1.4);
  margin-bottom: 1em;
  background-position: -32px 0;
  background-repeat: no-repeat;
}

.player-icon {
  width: 2em;
  height: 2em;
  color: var(--green);
}
