/* Local Global Variables */
.agent-card-container {
  --white: #e9e9e9;
  --black: #010409;
  --red: red;
  --green: #679c3a;
}

.agent-card-container {
  z-index: 1;
  padding: 2em 0;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--green);
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
}

.agent-card-container::-webkit-scrollbar {
  display: none;
}

/* Individual Agent Cards */

.cards-container {
  display: flex;
  justify-content: center;
  width: 100%;
  scrollbar-width: none;
}

.agent-persona-card {
  width: 18em;
  height: 33em;
  margin: 0 1em;
  padding: 1em;
  overflow-y: auto;
  background-color: var(--white);
  color: var(--black);
  white-space: normal;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  animation: slideInFromLeft 1s ease-out;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.agent-persona-card p {
  font-size: 1.25em;
}

.agent-persona-card:hover {
  transform: scale(1.02);
  transition: all 0.3s ease;
}

.agent-sprite-image {
  transform: scale(1.4);
  background-position: -32px 0;
  background-repeat: no-repeat;
}

.agent-loading-animation {
  width: 1.75em;
  height: 1.75em;
  color: var(--green);
}


/* Edit Agent Cards */

.edit-agent-persona-card {
  width: 50em;
  height: 33em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  color: var(--black);
  white-space: normal;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  animation: slideInFromLeft 1s ease-out;
}

.agent-edit-form {
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.agent-edit-form input,
.agent-edit-form label,
.agent-edit-form textarea {
  font-size: 12px;
}

textarea {
  padding: 0.25em;
}

.agent-edit-form .top-row {
  display: flex;
  justify-content: space-around;
}

.agent-edit-form .body-row {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
}

.agent-edit-form label {
  margin-top: 0.5em;
}

.btn-container {
  margin-top: 1em;
  text-align: center;
  font-size: 1.25em;
}

.edit-save,
.edit-exit {
  margin: 0 10px;
  width: 5em;
  border-radius: 5em;
}

.edit-save:hover,
.edit-exit:hover {
  transition: all 0.3s ease;
}

.edit-save {
  background-color: var(--green);
  color: white;
}

.edit-exit {
  background-color: var(--red);
  color: white;
}

/* Navigation Chevron Arrows */

.arrow-card {
  position: relative;
  width: 2.5vw;
  height: 100%;
  background-color: transparent;
  border: none;
}

.chevron-left,
.chevron-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 2.5em;
  height: 2.5em;
  transition: all 0.3s ease;
}

.arrow-card:hover .chevron-left,
.arrow-card:hover .chevron-right {
  color: var(--white);
}

/* Open Close Icon */

.open-close-container {
  height: 38vh;
}

.open-close-icon {
  margin-top: 1em;
  width: 2.25em;
  height: 2.25em;
  color: var(--white);
}

.open-close-icon:hover {
  transition: all 0.3s ease;
}

/* Card Header Icons */

.player-controlled-icon,
.player-render-icon,
.player-hide-icon,
.edit-icon {
  width: 1.5em;
  height: 1.5em;
}

.player-controlled-icon,
.player-render-icon {
  color: var(--green);
}

.player-hide-icon {
  color: var(--red);
}

/* Scroll Bar Behavior for Agent Cards */

/* For Chrome and Edge */
.agent-persona-card::-webkit-scrollbar {
  width: 5px; /* Adjust scrollbar width */
}

.agent-persona-card::-webkit-scrollbar-thumb {
  background: #888; /* Adjust scrollbar color */
}

.agent-persona-card::-webkit-scrollbar-thumb:hover {
  background: #555; /* Adjust scrollbar color on hover */
}

/* For Firefox */
.agent-persona-card {
  scrollbar-width: thin; /* Adjust scrollbar width */
  scrollbar-color: #888 #fff; /* Adjust scrollbar and track color */
}
