.image-screen {
  position: relative;
}

/* .image-screen .screen {
  position: absolute;
  left: 420px;
  top: 330px;
  transform: perspective(200px) rotateY(20deg) rotateZ(-7deg);
  transform-origin: left;
} */


/* .image-screen .overlay {
  position: absolute;
  left: 440px; 
  top: 352px; 
  width: 75px; 
  height: 57px; 
  transform: perspective(200px) rotateY(20deg) rotateZ(-6deg);
  transform-origin: left;
} */
