
.image-screen {
  position: relative;
}

.image-screen .screen {
  position: absolute;
  left: 420px;
  top: 330px;
  transform: perspective(200px) rotateY(20deg) rotateZ(-5deg);
  transform-origin: left;
}

.image-screen .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}