.image-screen {
  position: relative;
  z-index: 1;
}

.image-screen .screen {
  position: absolute;
  left: 111em;
  top: -23em;
  width: 10em;
  height: 8em;
}


.image-screen .overlay {
  position: absolute;
  left: 112em; /* one more than .screen left */ 
  top: -22em;  /* one less than .screen top */
  width: 8em; 
  height: 4em; 
}
