.email-form {
  /* position: absolute; */
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: black;
  color: white;
}

.name,
.email {
  height: 25px;
  background-color: grey;
}

.name,
.email,
.textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.name:focus,
.email:focus,
.textarea:focus {
  border-color: #007bff;
  outline: none;
}

.textarea {
  height: 100px;
  resize: vertical;
}
