.toolbar {
  display: flex;
  justify-content: end;
}

.email-icon {
  width: 2em;
  height: 2em;
}

.email-icon:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.email-form {
  z-index: 1;
  position: absolute;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: black;
  color: white;
  border-radius: 16px;
}

.label-title {
  font-size: 1.5em;
}

.email,
.moments {
  height: 25px;
  background-color: rgb(237, 237, 237);
  font-size: 1.25em;
}

.email,
.moments {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.moment-option {
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.email:focus,
.moments:focus {
  border-color: #007bff;
  outline: none;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  gap: 5px;
}

.input-btn,
.clear-form-btn {
  width: 5em;
  color: white;
  border-radius: 10px;
  font-size: 1.5em;
}

.input-btn {
  background-color: blue;
}

.clear-form-btn {
  background-color: grey;
}

.input-btn:hover,
.clear-form-btn:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
