.outer-form-container {
  position: relative;
  margin: 3em auto;
  padding: 0.5em;
  background-image: url("../../assets/login/goosecube_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.form-container {
  margin: 0 auto;
  padding: 1em;
  border: 1px solid white;
  border-radius: 16px;
  color: white;
  max-width: 35em;
}
