* {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

/* :root is used for Global CSS Variables */
:root {
  --background: black; /* Global Color Scheme: background-color: var(--background) */
}

body {
  margin: 0;
  background-color: var(--background);
}

.app-container {
  position: relative;
  height: 100rem;
  background-image: url("./assets/gooseCubeMap.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
