/* New Sprite Animation Movements */

.sprite-container {
  position: relative;
  height: 100%;
  width: 100%;
}

/* See Also: styles/Sprite styled-components */
.sprite:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.sprite-arrow {
  position: absolute;
  top: -20px;
  left: 12px;
  width: 10px;
  height: 10px;
  background: url(../../../assets/arrow.png) no-repeat no-repeat;
}

/* SpriteTextBubble: Scrolling Text Animations */
.sprite-text-container {
  overflow: hidden;
  position: absolute;
  width: auto;
  min-width: 7em;
  padding: 1px 3px;
  bottom: 32px;
  right: -12px;
  font-size: 8px;
  border-radius: 3px;
  background: blue;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

/* Sprite Animation Frames */
.stand-down {
  background-position: 0px 0px; /* first frame of the first row */
}

.walk-down-1 {
  background-position: -32px 0px; /* second frame of the first row */
}

.walk-down-2 {
  background-position: -64px 0px; /* third frame of the first row */
}

.stand-left {
  background-position: 0px -32px; /* first frame of the second row */
}

.walk-left-1 {
  background-position: -32px -32px; /* second frame of the second row */
}

.walk-left-2 {
  background-position: -64px -32px; /* third frame of the second row */
}

.stand-right {
  background-position: 0px -64px; /* first frame of the third row */
}

.walk-right-1 {
  background-position: -32px -64px; /* second frame of the third row */
}

.walk-right-2 {
  background-position: -64px -64px; /* third frame of the third row */
}

.stand-up {
  background-position: 0px -96px; /* first frame of the fourth row */
}

.walk-up-1 {
  background-position: -32px -96px; /* second frame of the fourth row */
}

.walk-up-2 {
  background-position: -64px -96px; /* third frame of the fourth row */
}
